    body {
        background-color: gray;
        font-family: Verdana, Geneva, sans-serif;
    }
    .style-center {
        margin-left: auto;
        margin-right: auto;
    }
    .CodeGolfWindow {
        border: solid black 1px;
        background-color: silver;
    }
    .CodeGolfTitle {
        border: solid black 1px;
        background-color: navy;
        color: white;
        padding: 8px;
    }
    .CodeGolfProblem {
        border: solid black 1px;
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
    }
    .ProblemMenuItem {
        background-color: oldlace;
        font-weight: bold;
    }
    .ProblemSelected {
        background-color: white;
        font-weight: bold;
    }
    .CodeGolfIntro {
        background-color: palegreen;
        border: 1px outset gray;
        padding-left: 10px;
        padding-right: 10px;
    }
    .CodeGolfTab {
        width: 200px;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding-left: 8px;
        padding-right: 8px;
    }
    .ActiveTab {
        border-bottom: hidden;
        background-color: white;
        font-weight: bold;
    }
    .InactiveTab {
        border-bottom: 1px solid black;
        background-color: lightblue;
        cursor: pointer;
        font-weight: normal;
    }
    .CodeGolfMainBody {
        width: 400px;
        padding: 20px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        background-color: white;
    }
    .CodeGolfBody {
        width: 100%;
        height: 450px;
        background-color: white;
        vertical-align: top
    }
    .Input {
        width: 100%;
        height: 30%;
        resize: none;
    }
    .Output {
        width: 100%;
        height: 40%;
        resize: none;
    }
    .SourceCode {
        width: 100%;
        height: 70%;
        resize: none;
    }
    .ActiveBody {
        display: block;
    }
    .InactiveBody {
        display: none;
    }
